:host{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

:host .survey
{
    min-width: 400px;
    width: 100%;
}

:host .title
{
    font-family: sans-serif;
    text-align: center;
    font-size: 46px;
    background-color: orange;
}

:host .surveyContainer {
    display: flex;
    justify-content: center;
    height: 300px;
}

:host .spacer
{
    width:100%;
}